<% provide(:title, 'User page') %>
        <div class="column is-8 tweet-container">
            <div class="level">
                <h1 class="page-title is-size-4 has-text-primary has-text-weight-semibold"><%= @user.name %></h1>
                <button class="button">フォローしない</button>
            </div>
            <h2>最近の投稿</h2>
            <% if @user.posts.any? %>
                <%= render @posts %>
            <% end %>
            <section class="pagination is-rounded">
                <%= will_paginate @posts, renderer: BulmaPagination::Rails %>
            </section>
        </div>
    </div>
    </div>
