<% provide(:title, 'User page') %>
        <div class="column is-8 tweet-container">
            <div class="level">
                <h1 class="page-title is-size-4 has-text-primary has-text-weight-semibold"><%= @user.name %></h1>
                <button class="button">フォローしない</button>
            </div>
            <h2>最近の投稿</h2>
            <article class=" box media">
                <div class="media-content">
                <% if @user.posts.any? %>
                    <ol class="posts">
                        <% render @posts %>
                    </ol>
                <% end %>
                    <div class="level-left">
                        <a class="level-item is-size-4">user name</a>
                    </div>
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat
                            facilisis.
                        </p>
                    </div>
                </div>
            </article>
            <article class=" box media">
                <div class="media-content">
                    <div class="level-left">
                        <a class="level-item is-size-4">user name</a>
                    </div>
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat
                            facilisis.
                        </p>
                    </div>
                </div>
            </article>
            <article class=" box media">
                <div class="media-content">
                    <div class="level-left">
                        <a class="level-item is-size-4">user name</a>
                    </div>
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat
                            facilisis.
                        </p>
                    </div>
                </div>
            </article>
            <section>
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                    <a class="pagination-previous">Previous</a>
                    <a class="pagination-next">Next page</a>
                    <ul class="pagination-list">
                        <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                        <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                        <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                        <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                        <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
                    </ul>
                </nav>
            </section>

        </div>
    </div>
    </div>
