<% provide(:title, @title ) %>
        <div class="column is-8 tweet-container">
            <h1 class="is-size-4 has-text-primary has-text-weight-semibold"><%= @title %></h1>
            <% if @users.any? %>
                <ul class="users">
                    <% @users.each do |user| %>
                        <li><%= link_to user.name, user %></li>
                    <% end %>
                </ul>
            <% end %>
            <section class="pagination is-rounded">
                <%= will_paginate @users, renderer: BulmaPagination::Rails %>
            </section>
        </div>
    </div>
    </div>
