<% provide(:title, 'User page') %>
        <div class="column is-8 tweet-container">
            <div class="level">
                <h1 class="page-title is-size-4 has-text-primary has-text-weight-semibold"><%= @user.name %></h1>
                <%= render "follow_form" %>
            </div>
            <h2>最近の投稿</h2>
            <% if @post_items.any? %>
                <%= render partial: 'shared/post_item', collection: @post_items %>
            <% end %>
            <section class="pagination is-rounded">
                <%= will_paginate @post_items, renderer: BulmaPagination::Rails, :previous_label => '<< 前', :next_label => '次 >>' %>
            </section>
        </div>
    </div>
    </div>
