<% provide(:title, '読んだ本') %>
        <div class="column is-8 tweet-container">
            <div class="level">
                <h1 class="page-title is-size-4 has-text-primary has-text-weight-semibold">読んだ本</h1>
            </div>
            <%= render partial: 'shared/list', collection: @lists %>
        </div>
    </div>
    </div>

