<li>
    <span class="book-title"><%= post.book_title %></span>
    <span class="book-author"><%= post.book_author %></span>
    <span class="post-content"><%= post.content %></span>
    <span class="timestamp">
        Posted:<%= time_ago_in_words(post.created_at) %> ago.
    </span>
</li>
