@import "bulma";

.header-nav {
    padding: 30px 50px;
    background-color: rgb(240, 191, 227);
}

.main-content {
    padding-bottom: 40px;
}

.form-colums {
   height: 300px; 
}

.footer-nav {
    background-color: hsl(0, 0%, 98%);
}

.footer {
    padding: 15px 0;
}


.main-container {
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
} 

.tweet-container {
    margin-left: 80px;
}

.tweet-form {
    margin: 20px 0px;
}

.post-button {
    text-align: right;
}

.page-title {
    margin-bottom: 20px;
}

