@import "bulma";

.header-nav {
    padding: 0px 50px 15px 50px;
    background-color: rgb(240, 191, 227);
}

#flash-message {
    margin-top: 90px;
    // height: 100px;
}

.main-content {
    padding-bottom: 40px;
}

.form-colums {
   height: 300px; 
}

.footer-nav {
    background-color: hsl(0, 0%, 98%);
}

.footer {
    padding: 15px 0;
}


.main-container {
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
} 

.tweet-container {
    margin-left: 80px;
}

.tweet-form {
    margin: 20px 0px;
}

.post-button {
    text-align: right;
}

.page-title {
    margin-bottom: 20px;
}

.book-author {
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}

.book-content {
    padding-top: 5px;
}

.users {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-top: 1px solid lightgray;
      &:last-child {
        border-bottom: 1px solid lightgray;
      }
    }
}

.search-button {
    margin: 10px 0px;
    
}
