    <footer class="footer">
        <div class="content has-text-right">
            <a>
                Contact
            </a>
            <% if user_signed_in? %>
                <%= link_to "退会する", "/users", method: :delete, 
                    data: { confirm: "#{current_user.name}さん、本当に退会してもいいですか?\n退会すると全ての記録が削除されます" } %>
                <% end %>
        </div>
    </footer>
