<section class="footer">
    <footer>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-menu footer-nav">
                <div class="navbar-end">
                    <a class="navbar-item">
                        Contact
                    </a>
                    <a class="navbar-item">
                        退会する
                    </a>
                </div>
            </div>
        </nav>
    </footer>
</section>