<div class="container header">
    <nav class="level navbar is-fixed-top">
        <p class="level-item has-text-centered">
            <img src="https://bulma.io/images/bulma-type.png" alt="" style="height: 30px;">
        </p>
        <p class="level-item has-text-centered">
            <a class="link is-info">Home</a>
        </p>
        <p class="level-item has-text-centered">
            <a class="link is-info">Login</a>
        </p>
        <p class="level-item has-text-centered">
            <a class="link is-info">Log out</a>
        </p>
        <p class="level-item has-text-centered">
            <a class="link is-info">Contact</a>
        </p>
    </nav>              
</div>