<div class="columns main-container">
<div class="column is-3">
    <aside class="menu">
        <p class="menu-label is-size-6 has-text-primary has-text-weight-bold">
            userのページ
        </p>
        <ul class="menu-list box">
            <% if current_user.id == @user.id %>
            <li><%= link_to "本の感想をつぶやく", new_user_post_path(current_user.id) %></li>
            <% end %>
            <li><a>本の感想一覧</a></li>
        </ul>
        <p class="menu-label is-size-6 has-text-primary has-text-weight-bold">
            本の管理
        </p>
        <ul class="menu-list box">
            <li><a>読んでいる本</a></li>
            <li>
                <a class="is-active">読んだ本</a>
            </li>
            <li><a>読みたい本</a></li>
            <li><a>予約した本</a></li>
        </ul>
        <p class="menu-label is-size-6 has-text-primary has-text-weight-bold">
            my図書館
        </p>
        <ul class="menu-list box">
            <li><a>図書館①</a></li>
            <li><a>図書館②</a></li>
            <li><a>図書館③</a></li>
        </ul>
        <p class="menu-label is-size-6 has-text-primary has-text-weight-bold">
            フォロー
        </p>
        <ul class="menu-list box">
            <li><a>ユーザ①</a></li>
            <li><a>ユーザ②</a></li>
            <li><a>ユーザ③</a></li>
        </ul>
        <p class="menu-label is-size-6 has-text-primary has-text-weight-bold">
            フォロワー
        </p>
        <ul class="menu-list box">
            <li><a>ユーザ①</a></li>
            <li><a>ユーザ②</a></li>
            <li><a>ユーザ③</a></li>
        </ul>
    </aside>
</div>
